<div class="btnid">
    <button routerLink="/">Home</button>
</div>
<div class="container">
    <div class="left-side" id="dynamicContentLeft">
        <h1>American Sign language</h1>
        <img src="assets/Images/american_sign.png" alt="New Photo">

        <h3>Get more information on below link.</h3>
        <a href="https://youtu.be/cGavOVNDj1s?feature=shared" target="_blank">Learn Hand Gestures Part 1
            (Alphabets).</a><br />
        <a href="https://youtu.be/cJ6UFIP-Vt0?feature=shared" target="_blank">Learn Hand Gestures Part 2 (Numbers).
        </a>


    </div>
    <div class="right-side">
        <div class="content">
            <div class="logo">
                <img src="assets/Images/logo.png" alt="Project Logo" class="project-logo">
                <!-- Added project logo -->
            </div>
            <div class="main-heading">
                <h2>SymbolSync</h2>
            </div>
            <div class="btn-class">
                <button routerLink="/signlearn">Sign Learning</button>
                <button routerLink="/signrecog">Sign Recognition</button>

            </div>
        </div>
    </div>
</div>